In [ ]:
import snscrape.modules.twitter as snstwitter
import pandas as pd
pd.options.display.max_colwidth=500

In [3]:
query="(bjorka) lang:id -filter:links -filter:replies "
tweets=[]
limit=20
%time
try:
    print("Star Crawling")
    for tweet in snstwitter.TwitterSearchScraper(query=query).get_items():
        if len(tweets)==limit:
            break
        else:
            tweets.append([tweet.date,tweet.user.username,tweet.content])
    df=pd.DataFrame(tweets,columns=['created at','username','text'])
except Exception as e:
    print(e)
print("Finished")

CPU times: total: 0 ns
Wall time: 0 ns
Star Crawling

Error retrieving https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_ext_alt_text=true&include_quote_count=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28bjorka%29+lang%3Aid+-filter%3Alinks+-filter%3Areplies+&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&pc=1&spelling_corrections=1&ext=mediaStats%2ChighlightedLabel: non-200 status code
4 requests to https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_ext_alt_text=true&include_quote_count=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28bjorka%29+lang%3Aid+-filter%3Alinks+-filter%3Areplies+&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&pc=1&spelling_corrections=1&ext=mediaStats%2ChighlightedLabel failed, giving up.

4 requests to https://api.twitter.com/2/search/adaptive.json?include_profile_interstitial_type=1&include_blocking=1&include_blocked_by=1&include_followed_by=1&include_want_retweets=1&include_mute_edge=1&include_can_dm=1&include_can_media_tag=1&skip_status=1&cards_platform=Web-12&include_cards=1&include_ext_alt_text=true&include_quote_count=true&include_reply_count=1&tweet_mode=extended&include_entities=true&include_user_entities=true&include_ext_media_color=true&include_ext_media_availability=true&send_error_codes=true&simple_quoted_tweets=true&q=%28bjorka%29+lang%3Aid+-filter%3Alinks+-filter%3Areplies+&tweet_search_mode=live&count=100&query_source=spelling_expansion_revert_click&pc=1&spelling_corrections=1&ext=mediaStats%2ChighlightedLabel failed, giving up.
Finished

In [4]:
df

NameError: name 'df' is not defined

In [4]:
df['created at']=df['created at'].apply(lambda x:pd.to_datetime(x).date())

In [5]:
df.to_excel('./Data/bjorka_new.xlsx')

In [1]:
import pandas as pd
import tweepy

In [2]:
BEARER_TOKEN="AAAAAAAAAAAAAAAAAAAAAM83dAEAAAAARMQijLrP6O6Xf7as4kfJY9zM6xo%3DLjbgVWmlp0zsRwyMud2chmHfP6yFI2o3LUjTDyxQZLnb809qbX"
CONSUMER_KEY="38dGB9yrVZ4aMHx0RN1UcdzuT"
CONSUMER_SECRET="DoBlTGQD6lkQs3llMmku9G0RTUVaBVSZXJMMskMOxAtNmpjjd3"
ACCESS_TOKEN="1530207285846614022-YggQwqe1VlIvWZ02ncztL3DtqzfnV1"
ACCESS_TOKEN_SECRET="zrd76tW7Ps6JATR2mPmJyspKIbnKsuHYHKhiDDTkfr6nZ"

In [3]:
def getApi(bearer_token,consumer_key,consumer_secret,access_token,access_token_secret):
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    api=tweepy.API(auth)
    return api

In [4]:
def getClient(bearer_token,consumer_key,consumer_secret,access_token,access_token_secret):
    client=tweepy.Client(bearer_token=bearer_token,consumer_key=consumer_key,consumer_secret=consumer_secret,access_token=access_token,access_token_secret=access_token_secret)
    return client

In [5]:
api=getApi(BEARER_TOKEN,CONSUMER_KEY,CONSUMER_SECRET,ACCESS_TOKEN,ACCESS_TOKEN_SECRET)
client=getClient(BEARER_TOKEN,CONSUMER_KEY,CONSUMER_SECRET,ACCESS_TOKEN,ACCESS_TOKEN_SECRET)

In [6]:
def getClientTweets(client,query,items):
    tweets=[]
    for tweet in tweepy.Paginator(client.search_recent_tweets,query,max_results=100).flatten(items):
        tweets.append(tweet)
    return tweets

In [22]:
def getTweets(api,query,items):
    tweets=[]
    for tweet in tweepy.Cursor(api.search_30_day,'skripsi30day',fromDate='202303040000',toDate='202303050000',query=query,maxResults=100).items(items):
        tweets.append(tweet)
    return tweets

In [8]:
def getTweetsReg(api,query):
    tweets=[]
    for tweet in tweepy.Cursor(api.search_tweets,q=query,count=100).items(10):
        tweets.append(tweet)
    return tweets

In [9]:
def createDataFrame(tweets,fields):
    df=pd.DataFrame(columns=fields)
    for tweet in tweets:
        data=tweet._json
        user=data['user']
        df1=pd.DataFrame({'username':[user['screen_name']],'created_at':[data['created_at']],'text':[data['text']]})
        df1['created_at']=df1['created_at']
        df=df.append(df1,ignore_index=True)
    return df

In [27]:
query='"selena gomez" lang:en -has:links -is:replies'
tweets=getTweets(api=api,query=query,items=10)
tweets

HTTPException: 422 Unprocessable Entity
There were errors processing your request: Reference to invalid operator 'is:replies'. Operator is not available in current product or product packaging. Please refer to complete available operator list at http://t.co/operators. (at position 39)

In [17]:
data=createDataFrame(tweets,fields=['created_at','username','text'])
data

C:\Users\ASUS\AppData\Local\Temp\ipykernel_11296\1057909973.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1,ignore_index=True)

,created_at,username,text
0,Thu Mar 02 23:59:54 +0000 2023,izzvhatirvh,RT @armylieber100: Aren't Selena Gomez fans ti...
1,Thu Mar 02 23:59:44 +0000 2023,Kenzie5Peterson,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
2,Thu Mar 02 23:59:44 +0000 2023,sammii_gv,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
3,Thu Mar 02 23:59:36 +0000 2023,_xolesley,RT @kvnnrxa: justin bieber and selena gomez fo...
4,Thu Mar 02 23:59:34 +0000 2023,DoncasterAlexis,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
...,...,...,...
2995,Thu Mar 02 04:42:18 +0000 2023,adr1anna,RT @SXMBA_: Selena Gomez gave us journals and ...
2996,Thu Mar 02 04:41:25 +0000 2023,Fly_Jitt,I keep seeing news about Selena Gomez but I ca...
2997,Thu Mar 02 04:41:24 +0000 2023,_timewithe,Lifetime should make a movie about this Hailey...
2998,Thu Mar 02 04:41:02 +0000 2023,denicewhy,Last night I finally shared the Hailey Baldwin...
2999,Thu Mar 02 04:40:53 +0000 2023,chelseyyybug,"Very proud to be on ""protect Selena Gomez"" tt"

In [20]:
data2=createDataFrame(tweets,fields=['created_at','username','text'])
data=data.append(data2)
data

C:\Users\ASUS\AppData\Local\Temp\ipykernel_11296\1057909973.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1,ignore_index=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_11296\1384535136.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=data.append(data2)

,created_at,username,text
0,Thu Mar 02 23:59:54 +0000 2023,izzvhatirvh,RT @armylieber100: Aren't Selena Gomez fans ti...
1,Thu Mar 02 23:59:44 +0000 2023,Kenzie5Peterson,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
2,Thu Mar 02 23:59:44 +0000 2023,sammii_gv,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
3,Thu Mar 02 23:59:36 +0000 2023,_xolesley,RT @kvnnrxa: justin bieber and selena gomez fo...
4,Thu Mar 02 23:59:34 +0000 2023,DoncasterAlexis,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
...,...,...,...
2995,Fri Mar 03 05:47:04 +0000 2023,JUSOPP,RT @miakhalifa: All the homies ride at dawn fo...
2996,Fri Mar 03 05:47:00 +0000 2023,maceyjeannine,RT @kvnnrxa: justin bieber and selena gomez fo...
2997,Fri Mar 03 05:46:05 +0000 2023,manic4ngel,cant wait for Selena Gomez or Justin Bieber to...
2998,Fri Mar 03 05:44:09 +0000 2023,ilysweetheart,RT @kvnnrxa: justin bieber and selena gomez fo...
2999,Fri Mar 03 05:43:55 +0000 2023,rainafugate,RT @kvnnrxa: justin bieber and selena gomez fo...

In [24]:
data3=createDataFrame(tweets,fields=['created_at','username','text'])
data=data.append(data3)
data

C:\Users\ASUS\AppData\Local\Temp\ipykernel_11296\1057909973.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1,ignore_index=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_11296\1929961859.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=data.append(data3)

,created_at,username,text
0,Thu Mar 02 23:59:54 +0000 2023,izzvhatirvh,RT @armylieber100: Aren't Selena Gomez fans ti...
1,Thu Mar 02 23:59:44 +0000 2023,Kenzie5Peterson,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
2,Thu Mar 02 23:59:44 +0000 2023,sammii_gv,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
3,Thu Mar 02 23:59:36 +0000 2023,_xolesley,RT @kvnnrxa: justin bieber and selena gomez fo...
4,Thu Mar 02 23:59:34 +0000 2023,DoncasterAlexis,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
...,...,...,...
2640,Sat Mar 04 00:02:20 +0000 2023,Rio07037086,RT @BPxSpotify: .@BLACKPINK and Selena Gomez's...
2641,Sat Mar 04 00:01:55 +0000 2023,Smorfie1,RT @BPxSpotify: .@BLACKPINK and Selena Gomez's...
2642,Sat Mar 04 00:01:48 +0000 2023,OneLifeFeeling,RT @honeyxjealous: As someone who feels very i...
2643,Sat Mar 04 00:01:15 +0000 2023,Dia_11__,RT @kvnnrxa: justin bieber and selena gomez fo...
2644,Sat Mar 04 00:00:41 +0000 2023,justinsavenger,RT @honeyxjealous: As someone who feels very i...

In [44]:
old=pd.read_excel('./Skenario Data/Selena Gomez/selenagomez.xlsx')
del old['Unnamed: 0']
old

,created_at,username,text
0,Wed Mar 01 23:59:51 +0000 2023,soundboikilla,selena gomez has songs w kygo AND zedd do i ne...
1,Wed Mar 01 23:59:09 +0000 2023,aislinnsheehanx,RT @upblissed: why my sister jus force me to f...
2,Wed Mar 01 23:58:56 +0000 2023,_Kammmmy,Every time I listen to Lose you to love me by ...
3,Wed Mar 01 23:58:52 +0000 2023,itsbbchave,RT @westside_ariana: @PERCAB3THS and selena go...
4,Wed Mar 01 23:58:11 +0000 2023,BigTucsonDad,"Listen, I don’t know or care about what’s happ..."
...,...,...,...
2995,Wed Mar 01 10:17:49 +0000 2023,jiminlvv,RT @TaurusBabez11: Kylie jenner and hailey bie...
2996,Wed Mar 01 10:16:29 +0000 2023,maxxxialv,RT @riveragrcn: @KingMadTaz @PopCrave cause sh...
2997,Wed Mar 01 10:15:42 +0000 2023,vinalraswati,I still can taste it and i hate it. \n\nPeople...
2998,Wed Mar 01 10:15:12 +0000 2023,abiwithaninotay,RT @p1scesinacrisis: hailey bieber is such a p...
2999,Wed Mar 01 10:13:24 +0000 2023,TheSwaddle,"Over the past few days, the alleged feud betwe..."

In [45]:
data=data.append(old)
data

C:\Users\ASUS\AppData\Local\Temp\ipykernel_11296\2481493431.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=data.append(old)

,created_at,username,text
0,Thu Mar 02 23:59:54 +0000 2023,izzvhatirvh,RT @armylieber100: Aren't Selena Gomez fans ti...
1,Thu Mar 02 23:59:44 +0000 2023,Kenzie5Peterson,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
2,Thu Mar 02 23:59:44 +0000 2023,sammii_gv,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
3,Thu Mar 02 23:59:36 +0000 2023,_xolesley,RT @kvnnrxa: justin bieber and selena gomez fo...
4,Thu Mar 02 23:59:34 +0000 2023,DoncasterAlexis,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
...,...,...,...
2995,Wed Mar 01 10:17:49 +0000 2023,jiminlvv,RT @TaurusBabez11: Kylie jenner and hailey bie...
2996,Wed Mar 01 10:16:29 +0000 2023,maxxxialv,RT @riveragrcn: @KingMadTaz @PopCrave cause sh...
2997,Wed Mar 01 10:15:42 +0000 2023,vinalraswati,I still can taste it and i hate it. \n\nPeople...
2998,Wed Mar 01 10:15:12 +0000 2023,abiwithaninotay,RT @p1scesinacrisis: hailey bieber is such a p...
2999,Wed Mar 01 10:13:24 +0000 2023,TheSwaddle,"Over the past few days, the alleged feud betwe..."

In [50]:
data.to_excel('selenagomez.xlsx')