In [1]:
import pandas as pd
import tweepy
BEARER_TOKEN="AAAAAAAAAAAAAAAAAAAAAM83dAEAAAAARMQijLrP6O6Xf7as4kfJY9zM6xo%3DLjbgVWmlp0zsRwyMud2chmHfP6yFI2o3LUjTDyxQZLnb809qbX"
CONSUMER_KEY="38dGB9yrVZ4aMHx0RN1UcdzuT"
CONSUMER_SECRET="DoBlTGQD6lkQs3llMmku9G0RTUVaBVSZXJMMskMOxAtNmpjjd3"
ACCESS_TOKEN="1530207285846614022-YggQwqe1VlIvWZ02ncztL3DtqzfnV1"
ACCESS_TOKEN_SECRET="zrd76tW7Ps6JATR2mPmJyspKIbnKsuHYHKhiDDTkfr6nZ"

In [3]:
def getApi(bearer_token,consumer_key,consumer_secret,access_token,access_token_secret):
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    api=tweepy.API(auth)
    return api
api=getApi(BEARER_TOKEN,CONSUMER_KEY,CONSUMER_SECRET,ACCESS_TOKEN,ACCESS_TOKEN_SECRET)

In [22]:
def getTweets(api,query,items):
    tweets=[]
    for tweet in tweepy.Cursor(api.search_30_day,'skripsi30day',fromDate='202303040000',toDate='202303050000',
        query=query,maxResults=100).items(items):
        tweets.append(tweet)
    return tweets

In [9]:
def createDataFrame(tweets,fields):
    df=pd.DataFrame(columns=fields)
    for tweet in tweets:
        data=tweet._json
        user=data['user']
        df1=pd.DataFrame({'username':[user['screen_name']],'created_at':[data['created_at']],'text':[data['text']]})
        df1['created_at']=df1['created_at']
        df=df.append(df1,ignore_index=True)
    return df

In [ ]:
query='"selena gomez" lang:en -has:links -is:replies'
tweets=getTweets(api=api,query=query,items=10000)
tweets

In [17]:
data=createDataFrame(tweets,fields=['created_at','username','text'])
data.to_excel('selenagomez.xlsx')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_11296\1057909973.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1,ignore_index=True)

,created_at,username,text
0,Thu Mar 02 23:59:54 +0000 2023,izzvhatirvh,RT @armylieber100: Aren't Selena Gomez fans ti...
1,Thu Mar 02 23:59:44 +0000 2023,Kenzie5Peterson,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
2,Thu Mar 02 23:59:44 +0000 2023,sammii_gv,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
3,Thu Mar 02 23:59:36 +0000 2023,_xolesley,RT @kvnnrxa: justin bieber and selena gomez fo...
4,Thu Mar 02 23:59:34 +0000 2023,DoncasterAlexis,RT @juliannarvivas: Im a Selena Gomez &amp; yo...
...,...,...,...
2995,Thu Mar 02 04:42:18 +0000 2023,adr1anna,RT @SXMBA_: Selena Gomez gave us journals and ...
2996,Thu Mar 02 04:41:25 +0000 2023,Fly_Jitt,I keep seeing news about Selena Gomez but I ca...
2997,Thu Mar 02 04:41:24 +0000 2023,_timewithe,Lifetime should make a movie about this Hailey...
2998,Thu Mar 02 04:41:02 +0000 2023,denicewhy,Last night I finally shared the Hailey Baldwin...
2999,Thu Mar 02 04:40:53 +0000 2023,chelseyyybug,"Very proud to be on ""protect Selena Gomez"" tt"